body {
  color: #40515E;
  margin: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.top-container {
  background-color: #a3d2ca;
  position: relative;
  padding-top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
}

.profile {
  margin: 50px auto 100px auto;
  width: 50%;
  line-height: 2;
}

.middle-container {
  background-color: #f7f3e9;
  padding: 50px 0 25px 0;

}

.bottom-container {
  background-color: #a3d2ca;
  padding: 50px 0 50px 0;
  width: 100%;
  position: absolute;

}

.contact-me {
  margin: 50px auto auto auto;
}

h1 {
  margin: 50px auto 0 auto;
  margin-bottom: 0;
  font-family: 'Aladin', cursive;
  font-size: 5.625rem;
  color: #f05945;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #f05945;
  font-weight: normal;
  margin-top: 50px;
  margin-bottom: 50px;

}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #5eaaa8;
  line-height: 50px;
}

a {
  color: #5eaaa8;
}

.skill-row {
  margin: 100px auto 50px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.image-1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.image-2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skills {
  padding: 50px 0 100px 0;
  background-color: #f7f3e9;
}

hr {
  width: 5%;
  border-style: dotted none none none;
  border-color: #5eaaa8;
  border-width: 8px;
}

.idea-for-site {
  line-height: 50px;
}

.BUTTON_FHR {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Open Sans;
   font-size: 21px;
   font-weight: 100;
   padding: 20px;
   background-color: #A3D2CA;
   text-shadow: 1px 1px 20px #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom: 25px;
}

.idea-for-site {
  margin-bottom: 25px;
}

.footer-link-1 {
  text-decoration: none;
}

.footer-link-2 {
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
}

.footer-link-3 {
  text-decoration: none;
}

.copyright {
  color: #f7f3e9;
  margin-top: 50px;
  font-size: .75rem;
  padding: 20px 0;
}

a:hover {
  color: #EAF6F6;
}
